<nav class="menu-lateral">
  <div class="menu-item" routerLink="/panel" routerLinkActive="active">
    <span class="icon">📊</span> Mi Panel
  </div>
  
  <div class="menu-item" routerLink="/gestionar-clientes" routerLinkActive="active">
    <span class="icon">👥</span> Gestionar Clientes
  </div>
  
  <div class="menu-item" routerLink="/nuevo-recorrido" routerLinkActive="active">
    <span class="icon">🚚</span> Nuevo Recorrido
  </div>
  <div class="menu-item" routerLink="/nuevo-cliente" routerLinkActive="active">
    <span class="icon">👤</span> Nuevo Cliente
  </div>
</nav>